.maincont{
    height: 100vh;
    /* background-color: #080e1c ; */
    /* border: 1px solid black; */
}

.formcont{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
}

.card{
    /* border: 1px solid black; */
    margin-top: 100px;
    height: 300px;
    width: 520px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}


.brand{
    font-size: 24px;
    font-weight: 700;
}

.cardactins{
    display: flex;
    font-display: row;
    gap: 10px;
}


/* Hide the eye icon on WebKit browsers (Chrome, Safari) */
input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}

/* Hide the eye icon on Firefox */
input[type="password"]::-moz-textfield-decoration-container {
    display: none;
}

/* Hide the eye icon on Microsoft Edge and IE */
input[type="password"]::-ms-reveal {
    display: none;
}

/* Additional styles to ensure the input field hides the eye icon */
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

input[type="password"] {
    -webkit-text-security: disc;
}


