.maincont{
    height: 100vh;
    /* background-color: #080e1c ; */
    /* border: 1px solid black; */
}

.formcont{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
}

.card{
    /* border: 1px solid black; */
    margin-top: 100px;
    height: 300px;
    width: 520px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}


.brand{
    font-size: 24px;
    font-weight: 700;
}

.input{
    width: 400px;
}

.cardactins{
    display: flex;
    font-display: row;
    gap: 10px;
}